_site/
.sass-cache/

# Terraform
.terraform
*.tfstate
*.tfstate.backup

# Terragrunt
.terragrunt-cache


# playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
