<head>
  <!-- Meta -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <!-- Title & Description -->
  <title>
    {% if page.title %}
      {{ page.title }}
    {% else %}
      {{ site.title }}
    {% endif %}
  </title>

  <meta name="description"
        content="{% if page.excerpt %}
                   {{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}
                 {% else %}
                   {{ site.description }}
                 {% endif %}">

  <!-- Stylesheets -->
  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}" />

  <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.2.3/gh-fork-ribbon.min.css"
        integrity="sha512-TktJbycEG5Van9KvrSHFUcYOKBroD7QCYkEe73HAutODCw9QTFcvF6fuxioYM1h6THNudK1GjVidazj6EslK4A=="
        crossorigin="anonymous"
        referrerpolicy="no-referrer" />

  <!-- Canonical & RSS -->
  <link rel="canonical"
        href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" />

  <link rel="alternate"
        type="application/rss+xml"
        title="{{ site.title }}"
        href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />

  <!-- Scripts -->
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"
    integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer">
  </script>

  <!-- codeql-disable js/functionality-from-untrusted-source -->
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <!-- codeql-enable js/functionality-from-untrusted-source -->
</head>
