<header class="site-header">

  <div class="wrapper">

    <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>

    <nav class="site-nav">

      <div class="trigger">

        <a class="page-link" href="/">About</a>
        <a class="page-link" href="/screenshots/">Screenshots</a>
        <a class="page-link" href="/features/">Features</a>
        <a class="page-link" href="/download/">Download</a>
        <a class="page-link" href="/donate/">Donate</a>
        <a class="page-link" href="/license/">License</a>
        
      </div>
    </nav>

  </div>

</header>
