@use "sass:color";

$base-font-family: Helvetica, Arial, sans-serif;
$base-font-size: 16px;
$small-font-size: $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit: 30px;

$text-color: #111;
$background-color: #fdfdfd;
$brand-color: #2a7ae2;

$grey-color: #828282;
$grey-color-light: color.scale($grey-color, $lightness: 40%);
$grey-color-dark: color.scale($grey-color, $lightness: -25%);

$content-width: 800px;

$on-palm: 600px;
$on-laptop: 800px;

