<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        <ins class="adsbygoogle"
             style="display:inline-block;width:120px;height:600px; float: right; padding-left:30px;"
             data-ad-client="ca-pub-1859372217880311"
             data-ad-slot="5003853952"></ins>
        {{ content }}

        <script type="text/javascript">
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>

      </div>
    </div>

    {% include footer.html %}

  </body>

</html>
