name: Test

on:
  push:
  pull_request:
  schedule:
    - cron: '0 0 * * 0'  # Runs every Sunday at midnight
permissions:
  contents: read

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6

    - name: Install mise
      uses: jdx/mise-action@v3

    - name: Install tools
      run: mise install

    - name: Install Ruby gems
      run: bundle install

    - name: Setup TFLint
      uses: terraform-linters/setup-tflint@v6
      with:
        tflint_version: v0.50.3

    - name: Run linters
      run: mise lint

    - uses: actions/setup-node@v6
      with:
        node-version-file: .nvmrc

    - name: Install dependencies
      run: npm ci

    - name: Install Playwright Browsers
      run: npx playwright install --with-deps

    - name: Run Playwright tests
      run: npx playwright test

    - uses: actions/upload-artifact@v6
      if: always()
      with:
        name: playwright-report
        path: playwright-report/
        retention-days: 30
